body {
    background-color: #ff86ef; 
}
.navbar {
    background-color: rgb(186, 34, 206); 
    height: 50px; 
}

.navbar .navbar-brand {
    color: #fff; 
    font-size: 20px; 
    line-height: 50px; 
    margin-top: -10px;
}

.navbar .navbar-nav .nav-link {
    color: #fff; 
    line-height: 50px; 
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    color: rgb(0, 53, 22);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    margin-top: -10px;
}
h2 {
    justify-content: center;
    align-items: center;
    color: #000;
    margin-bottom: 50px;
}

.form-title {
    text-align: center;
}

footer {
    background-color: rgb(218, 24, 224); 
    height: 30px; 
    line-height: 30px; 
    text-align: center;
    color: #fff;
}

