body{
    background-color: rgb(250, 129, 204);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(217, 177, 255);
}
footer{
    background: rgb(235, 185, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    color: rgb(0, 0, 0);
}